
apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-deployment-dev
  labels:
    app: gsapp
  namespace: {{ENV}}
spec:
  replicas: 2
  selector:
    matchLabels:
      app: gsapp
  template:
    metadata:
      labels:
        app: gsapp
    spec:
      containers:
      - name: gsapp
        image: rajinovat/gs-spring-boot-docker:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
